body {
  background-color: #FAFAFA;
}

.main-panel{
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-panel>div{
  max-width: min(614px, 100%);
}

.main-page-button{
  width: 100%;
  height: 80%;
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page-button-header{
  position: relative;
}

.App{
  height: 100vh;
}

.main-page-button button{
  background-color: #0095F6;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.main-page-button-header button{
  width: 100px;
  background-color: #0095F6;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: .9rem; 
}